.card {
    width: 300px;
    height: 400px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999;
    position:relative;
    overflow:hidden;
   
  }
  
  .card-header {
    width: 100%;
    height: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  .card-header img {
    width:100%;
    border-radius:10px;
  }
  
  .card-body {
    width: 100%;
    height: 50%;
    padding: 20px;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
  }
  
  .card-body h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom:10px;
    color:#fff;
  }
  
  .card-body p {
    font-size: 14px;
    text-align: center;
    color:#fff;
  }
  .img{
    width: 300px ;
    height:300px;
   
    
  
  }
  .img:hover 
  {-webkit-transform:scale(1.1);transform:scale(-1)}
  
  /* .card:hover .img {-webkit-transform:scale(1.3);transform:scale(1.3);} */
.p{
  
    width: 20vw;
    height: 40vh;
 
}
.a{
  text-decoration: none;
  color: rgb(96, 208, 21);

}