.box{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
img{
   width: 100px;
}
.font{
    color: greenyellow;
    font-family: 'Norwester', sans-serif;
}
h2{
   color: azure;
}
p{
   color: azure;
}